body {
  padding: 0;
  margin: 0;
}

#header {
  #navbar-main {
    a {
      img {
        max-width: 100px;
      }
    }
  }
}

#main {
  max-width: 1440px;
}

//.breadcrumb-item {
//  a {
//    color: #000000;
//  }
//}
//
//#block-barrio-custom-subtheme-content {
//  a {
//    color: #dc080c;
//  }
//}
//
//#block-category {
//  a {
//    color: #dc080c;
//  }
//}
//
//
//#block-categoriesmenu > ul > li > a {
//  color: #dc080c;
//}
